<div class="ui fluid container">
<div class="ui center aligned grid">
    <div class="row">
        <div class="column">
            <img class="ui centered small image" src="../assets/Logo.svg">
        </div>
    </div>
    <div class="row">
        <div class="column">
          <h1>Javazone</h1>
        </div>
    </div>
    <div class="row">
        <div class="ui center aligned stacked segment" style="min-width:550px;">
            <div class="ui left aligned fluid container">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
</div>